.posts-container{
    display: flex;
    gap: 1rem;
    row-gap: 1.5rem;
    flex-wrap: wrap;
}

.post-container{
    border-radius: 0.5rem;
    padding: 1rem;  
    min-width: 400px;
    flex: 1;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}